.part3 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 60vw;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 40vh;
}

.part3 .button {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 10px;
  padding: 20px;
  border: 2px solid #fff;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
  color: #fff;
}
.part3 .button:after {
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background: #f7f7f7;
}
.part3 .button:nth-of-type(2):after {
  left: 0;
}
.part3 .button:nth-of-type(3):after {
  right: 0;
  left: auto;
}
.part3 .button:nth-of-type(4):after {
  left: 0;
  bottom: auto;
  top: -3px;
  width: 100%;
}
.part3 .button:nth-of-type(5):after {
  height: 120%;
  left: -10%;
  -webkit-transform: skewX(15deg);
          transform: skewX(15deg);
  z-index: -1;
}
.part3 .button:hover {
  cursor: pointer;
}
.part3 .button:hover:after {
  width: 100%;
  left: 0;
}
.part3 .button:hover:nth-of-type(4):after {
  top: calc(100% - 3px);
}
.part3 .button:hover:nth-of-type(5) {
  color: #a56666;
}
.part3 .button:hover:nth-of-type(5):after {
  left: -10%;
  width: 120%;
}
.part3 .button:hover:nth-of-type(6) {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}
.part3 .button:hover:nth-of-type(6):after {
  width: 0%;
}
.part3 .button:hover:nth-of-type(7) {
  border-radius: 30px;
}
.part3 .button:hover:nth-of-type(7):after {
  width: 0%;
}
.part3 .button:hover:nth-of-type(8) {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.part3 .button:hover:nth-of-type(8):after {
  width: 0%;
}
.part3 .button:hover:nth-of-type(9) {
  box-shadow: inset 0px 0px 0px 3px #f7f7f7;
}
.part3 .button:hover:nth-of-type(9):after {
  width: 0%;
}
.part3 .button:hover:nth-of-type(10) {
  box-shadow: 0px 0px 0px 3px #f7f7f7;
}
.part3 .button:hover:nth-of-type(10):after {
  width: 0%;
}
